@model List<Bitirme.Domain.Entities.Events>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card h-100">
                    <a href="/haber/@item.Id">
                        <img class="card-img-top" src="~/resimler/event/@item.ImageUrl" alt="Event Image" style="height: 200px; object-fit: cover;">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="/haber/@item.Id">@item.Title</a>
                        </h4>
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer text-muted">
                        Created by @item.Users.UserName on @item.CreateDate.ToString("dd/MM/yyyy")
                    </div>
                </div>
            </div>
        }
    </div>
</div>
